rkADFipelines/pipeline/CopySalesDataLanding.json
{
	"name": "CopySalesDataLanding",
	"properties": {
		"activities": [
			{
				"name": "CopySalesBlob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "FileServerReadSettings",
							"recursive": true,
							"wildcardFileName": "*.txt",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "salesdataRK1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "src_sales_landing",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete1",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopySalesBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "salesdataRK1",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"wildcardFileName": "*.txt",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Delete1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/krishna2355ram@outlook.com/target_retail_landingtoBronze",
					"baseParameters": {
						"crrtdt": {
							"value": "@variables('newBlodFold')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "loadDeltaCallDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "newBlodFold",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"newBlodFold": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-07-30T09:58:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}